
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
}

.main{
    background-color: white;
    max-width: 600px;
    margin: 100px auto;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 300;
}

button{
    margin: 22px 0 10px 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(93, 190, 93);
    color: #fff;
    font-size: medium;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
}
.total{
    font-size: 20px;   
}

.Total{
    font-size: 20px;
    font-weight: 700;
}

